/*Header Items*/

header {
 display: flex;
 font-family: Verdana;
 font-size: 14px;
 font-weight: bold;
 position: fixed;
 border-bottom: 2px solid black;
 background-color: white;
 width: 100%;
 height: 80px;
 align-items: center;
 z-index: 1;
 }

div.logo {
   display: flex;
   align-items: center;
   padding-left: 30px;
   flex-grow: 1
 }
.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}
.logo span {
  color: MediumAquamarine;
}

/*Navigation section*/
nav {
  padding-right: 40px;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}
span a{
  color: black;
}

/*Main Content Container*/
.content {
  display: flex;
  width: 1230px;
  margin: 0 auto 78px auto;
  padding-top: 116px;

}
div {
  border: 1px solid black;
}
/*Common Elements*/
.column {
  flex-direction: column;
  display: flex;
  margin-right: 30px;
}

.articles {

}
.article {
  
}
.story-column {

}
.image-content {

}
.story-content {

}
h2 {

}

h3 {

}



/*First news column*/
.column large {
  width:630px;

}
.main-story {

}
.

/*Second news column*/
.column medium {
  width: 300px;
}
/*Third news column*/
.column small {
  width: 300px;
}
.news-bites {

}
.bite {

}
