/*Header Items*

header {
 display: flex;
 font-family: Verdana;
 font-size: 14px;
 font-weight: bold;
 position: fixed;
 border-bottom: 2px solid black;
 background-color: white;
 width: 100%;
 height: 80px;
 align-items: center;
 }

div.logo {
   display: flex;
   align-items: center;
   padding-left: 30px;
   flex-grow: 2
 }

.logo span {
  color: MediumAquamarine;
  padding-left: 15px;
}

/*Navigation section*
nav {
  padding-right: 40px;


}
nav span {
  display: inline-block;
  padding: 20px 10px;
}
span a{
  color: black;

}*1

/*Main Content Container*/
.content {
  display: flex;
  width: 1230px;
  border: 1px solid black;
}
.column {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
div {
  border: 1px solid black;
}
/*Common Elements*/
h2 {

}
h3 {

}

.articles {

}
.story-column {

}
.image-content {

}
.story-content {

}




/*First news column*/
.column large {
  width:630px;
  
}
.main-story {
  border: 1px solid black;
}
.

/*Second news column*/
.column medium {
  width: 300px;
}
/*Third news column*/
.column small {
  width: 300px;
}
.news-bites {

}
.bite {

}
